body {
	background-color: #FCFAF6;
	font-family: 'Raleway', sans-serif;
}

a {
	text-decoration: none;
}

#logo {
	left: 0;
	right: 0;
	margin: auto;
	padding-top: 20px;
	width: 150px;
}

#logo img {
	width: 100%;
}

#title {
	left: 0;
	right: 0;
	margin: auto;
	width: 200px;
	color: #000;
	font-weight: 300;
	padding-top: 6px;
	font-size: 32px;
	text-align: center;
}

#print {
	margin: auto;
	padding-top: 30px;
	width: 560px;
}

#footer {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	height: 32px;
	margin: auto;
	/*border-top: 1px solid #484848;*/

	font-size: 14px;
	color: #484848;
	text-align: center;
}

#footer p {
	height: 20px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

#footer img {
	padding-bottom: 1px;
	vertical-align: middle;
}

@media(max-width:570px){
	#logo {
		width: 100px;
	}
	#title {
		font-size: 22px;
	}
	#print, #print img {
		width: 100%;
	}
}